<div class="card mat-card">
    <h2>Certificados y Participaciones </h2>
    <div class="certificados">
        <div class=" col-lg-3">
            <ul id="">
            <li>Perito en Tecnologia</li>
            <li>Mejor Promedio Escolar 1995-1996</li>
            <li>Presidente del Club de Ciencias Escolar</li>
            <li>Mejor Alumno Taller 1996</li>
            <li>Manejo Linux Mandrake</li>
            <li>Tecnico en reparacion y Mantenimiento de PC</li>
            <li>Instalador Avanzado de S.O.</li>
            
            </ul>
        </div>
        <div class=" col-lg-3">
        <ul id="">
            <li>Diagnosticar de Hardware y Software</li>
            <li>Redes Informaticas</li>
            <li>Linux Administration-2021</li>
            <li>NGD Linux Essential -CISCO-2021</li>
            <li>Introduccion a IoT-Cisco-2021</li>
            <li>Introduccion a la Seguridad Cibernetica-Cisco-2021</li>
            <li>Desarrollador Web Jr. -Argentina Programa-2022</li>
        </ul>
        </div>
        <div class=" col-lg-3">
            <ul id="">
            <li>Participación en Ferias de Ciencias-1994 y 1996-.</li>
            <li>Participación en el 1° Encuentro Provincial de Clubes de Ciencia y Tecnología-1996-</li>
            </ul>
        </div>
    </div>
</div>