<!--Educacion-->
<div class="card mat-card"> 
  <div class="card-titles">
    <h2>Educacion</h2> 
    <div class="btn-edit" onclick="cambiar_parrafo()">
      <a href="#" class="btn-right">
        <i class="fa fa-pen"> </i>	
      </a>
    </div>
    <div class="info-educacion">
      <ul>
        <li>
          <div class="btn-edit" onclick="cambiar_parrafo()">
            <a href="#" class="btn-right">
            <i class="fa fa-pen"> </i>	
            </a>
              <a href="#">
              <img src="../assets/img/logoEpet.jpeg" alt="FUCE">
              <h2> E.P.E.T. N° 8-</h2> </a>
              <p>Graduado como Perito en Tecnologia. 1990-1996</p>
            
          </div>
        </li>
        <hr>	
        <li>
          <div class="btn-edit" onclick="cambiar_parrafo()">
            <a href="#" class="btn-right">
              <i class="fa fa-pen"> </i>	
            </a>
            <a href="#">
              <img src="../assets/img/logo unlpam.jpg" alt="">
              <h2> Universidad Nacional de la Pampa</h2>
            </a>
            <p>Cursando la Carrera Analista PRogramador.</p>
              
          </div>
        </li>
        </ul>
        <hr>
        
        
    </div>
  </div>
</div>

