<!--Acerca de-->
<div class="card mat-card"> 
  <div class="card-titles">
    <h2>Acerca de</h2> 
    <div class="btn-edit" onclick="cambiar_parrafo()">
      <a href="#" class="btn-right">
        <i class="fa fa-pen"> </i>	
      </a>
    </div>
    <div>
      <p class="text-acercade"> Empleado Judicial, Tecnico en Redes Informaticas, Tecnico de PC, Hard y Soft, Tecnico Electronico, Desarrollador Full Stack Junior. Manejo de lenguajes de programacion como: C++, Java, JavaScript, TypeScript, Angular, Python, HTML, CSS, Linux/Unix y Base de Datos.</p>
    </div>
    <div>
      <input id= "edit-acercade" type="text" oninput="myFunction2(this.value)" style="display:none">
    </div>
  </div>
  
</div>
