<div class="main">
    <div class="portfolio">
      <app-encabezado></app-encabezado>
      <app-acerca></app-acerca>
      <app-laboral></app-laboral>
      <app-educacion></app-educacion>
      <app-certificados></app-certificados>
      <app-skills></app-skills>
      <app-proyectos></app-proyectos>
      <app-login></app-login>
      
      <!-- Botones -->
      <app-add-button></app-add-button>
      <app-edit-button> </app-edit-button>
      <app-delete-button></app-delete-button>
  
  
      
      
    </div>
    <!--<app-publicidad></app-publicidad>-->
  </div>
