<div class=" card mat-card">
  <h2>HABILIDADES</h2>
  <div class="row">
    <h4>DURAS</h4>
    <div class="col text-center">
      <circle-progress
        [backgroundGradient]=true
        [percent]="85"
        [radius]="60"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="0"
        [animation]="true"
        [animationDuration]="1500"
        [backgroundOpacity]=".6"
        [backgroundPadding]= "-5">
      </circle-progress>
      <h6 class="skill">HTML/CSS</h6>
    </div>
    <div class="col text-center">
      <circle-progress
      [backgroundGradient]=true
      [percent]="85"
      [radius]="60"
      [outerStrokeWidth]="8"
      [innerStrokeWidth]="0"
      [animation]="true"
      [animationDuration]="1500"
      [backgroundOpacity]=".6"
      [backgroundPadding]= "-5">
      </circle-progress>  
      <h6>JAVASCRIPT/TYPESCRIPT</h6>
    </div>
    <div class="col text-center">
      <circle-progress
        [percent]="5"
        [radius]="60"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78Cfff'"
        [innerStrokeColor]="'#f9E596'"
        [animation]="true"
        [animationDuration]="1500"
        [backgroundOpacity]="1"
        [backgroundPadding]= "6">
      </circle-progress>
      <h6>ANGULAR</h6>
    </div>
    <div class="col text-center">
      <circle-progress
        [percent]="5"
        [radius]="60"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78Cfff'"
        [innerStrokeColor]="'#f9E596'"
        [animation]="true"
        [animationDuration]="1500"
        [backgroundOpacity]="1"
        [backgroundPadding]= "6">
      </circle-progress>
      <h6>BASE DE DATOS</h6>
    </div>
  </div>
  <div class="row">
    <h4>BLANDAS</h4>
    <div class="col text-center">
      <circle-progress
        [percent]="85"
        [radius]="60"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78Cfff'"
        [innerStrokeColor]="'#f9E596'"
        [animation]="true"
        [animationDuration]="1500"
        [backgroundOpacity]="1"
        [backgroundPadding]= "6">
      </circle-progress>
    </div>
    <div class="col text-center">
      <circle-progress
        [backgroundGradient]=true
        [percent]="85"
        [radius]="60"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="0"
        [animation]="true"
        [animationDuration]="1500"
        [backgroundOpacity]=".6"
        [backgroundPadding]= "-5">
      </circle-progress>  
    </div>
    <div class="col text-center">
      <circle-progress
        [percent]="85"
        [radius]="60"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78Cfff'"
        [innerStrokeColor]="'#f9E596'"
        [animation]="true"
        [animationDuration]="1500"
        [backgroundOpacity]="1"
        [backgroundPadding]= "6">
      </circle-progress>
    </div>
    <div class="col text-center">
      <circle-progress
        [percent]="85"
        [radius]="60"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78Cfff'"
        [innerStrokeColor]="'#f9E596'"
        [animation]="true"
        [animationDuration]="1500"
        [backgroundOpacity]="1"
        [backgroundPadding]= "6">
      </circle-progress>
    </div>
  </div>
  </div>




  