
<div class="card mat-card wrapper image-wrapper">
  <h2>HABILIDADES</h2>
    <hr>
    <!--DURAS-->
    <div class="box-skills inner">
      <div class="row">
        <div class="col-md-10 offset-md-1">
      <h2 class="title-color text-center">DURAS</h2>
        <br><br><br>
          <div class="row text-center">              
            <div class="col-lg-3">
              <div class="btn-edit" onclick="cambiar_parrafo()" >
                <a href="#" class="btn-right">
                  <i class="fa fa-pen" style="display:none"> </i>	
                </a>	
                <div class="progressbar circle blue" data-value="70"></div>
              </div>
              <h5>HTML/CSS</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
            </div>
            <div class="col-lg-3">
              <div class="progressbar circle green" data-value="55"></div>
              <h5>JavaScript/TypeScript</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
            </div>
            <div class="col-lg-3">
              <div class="progressbar circle red" data-value="45"></div>
              <h5>Java/Angular</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
            </div>
            <div class="col-lg-3">
              <div class="progressbar circle yellow" data-value="50"></div>
              <h5>Base de Datos</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <!--BLANDAS-->
    <div class="box-skills inner">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h2 class="title-color text-center">BLANDAS</h2>
            <br><br><br>
            <div class="row text-center">              
              <div class="col-lg-3">
                <div class="progressbar circle blue" data-value="85"></div>
                <h5>Liderazgo</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
              </div>
            
              <div class="col-lg-3">
                <div class="progressbar circle green" data-value="90"></div>
                <h5>Trabajo en Equipo</h5>
                <p>El tarbajo en equipo es la base para l asanata.</p>
              </div>
                
              <div class="col-lg-3">
                <div class="progressbar circle red" data-value="95"></div>
                <h5>Colaboracion</h5>
                <p>Siempre predispuesto a colaborar con mis compañeros y superiroes.</p>
              </div>
              
              <div class="col-lg-3">
                <div class="progressbar circle yellow" data-value="90"></div>
                <h5>Resol. de Conflictos</h5>
                <p>Buen mediador para resolver conflictos entre pares y entre superiores.</p>
              </div>
            </div>
        </div>
      </div>
      
    </div>
  </div>
<!--<h2>Mis Skills</h2>
<ul class="card mat-card">
  <li *ngFor="let skill of skills">
    <button [class.selected]="skill === selectedSkill" type="button" (click)="onSelect(skill)">
      <span class="badge">{{skill.porcentaje}}</span>
      <span class="name">{{skill.caracteristica}}</span>
    </button>
  </li>
</ul>-->

