:root{
  --color-menu:rgb(238, 221, 221);
  --color-menu-hover: rgb(216, 145, 145);
  --border-radius: 32px;
  --color-red:#d75959;
  --color-yellow:#f5c463;
  --color-green:#9ccd7e;
  --color-blue: #5ca7db;
  --rgb-black:255,255,255;
}

body{
  background-image: url(assets/img/pared_Skills.jpg) ;
  display: flex;
	flex-flow: column nowrap;
}
.mat-card {
  border-radius: var(--border-radius);
  margin: 20px 20px 20px 20px;
  padding: 20px;
  border-color: #0a66c2;
}

.banner{
  display: flex;
	background-position: center;
	background-attachment: contain;
	background-size: cover;
	flex-flow: column nowrap;
}

.mat-card#first-card{
  /*background-color: rgba(0,0,0,0.9);*/
  padding:0;
  display: flex;
	background-position: center;
	background-attachment: contain;
	background-size: cover;
	flex-flow: column nowrap;
}
.publicidad {
  display: flex;
  background-position: center;
	background-attachment: contain;
	background-size: cover;
  flex-flow: column nowrap;
  border-radius: var(--border-radius);
  margin: 10px 100px 10px 100px;
  padding: 20px;
  border-color: #0a66c2;
}

#profile-background{
  display:flex;
  z-index: auto;
}

#data-details {
  display:flex;
}

#profile-background img{
  display: flex;
	background-position: center;
	background-attachment: contain;
	background-size: cover;
	flex-flow: column nowrap;
  width: 100%;
  height:200px;
  border-radius: 32px 32px 0 0;
  margin-top:-100px;
}

.profile-image {
  border-radius: 50%;
  width: 152px;
  height: 152px;
  margin-top:-110px;
  z-index: auto;
}

#info-actions {
  display: flex;
}

#info-data{
  color:black;
  display:flex;
  text-decoration: none;
}

#info-details li a h2{
  color:black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  align-self: center;
  vertical-align: baseline;
}

#info-details li img{
  height: 40px;
  width: 40px;
  margin: right 8px;
}

.item-list{
  list-style: none inside;
}

#info-experiencia li a h2{
  font-size: 1.2rem;
  font-weight: 500;
  align-self: center;
  vertical-align: baseline;
} 

#info-experiencia li a img{
  height: 64px;
  width: 64px;
  margin: right 8px;
  
}

#info-experiencia li a{
  color:black;
  display:flex;
  text-decoration: none;
}

#info-experiencia li p{
  color:black;
  display:flex;
  text-decoration: none;
}

#info-educacion li a h2{
  font-size: 1.2rem;
  font-weight: 500;
  align-self: center;
  vertical-align: baseline;
  
} 
#info-experiencia li p{
  border-radius: 10px;
  background: #b5a3e7;
  box-shadow: 8px 8px 6px rgba(0, 0, 0, 0.63);
  padding: 20px;
  margin: 0 5 0 0;
}
.info-educacion li a img{
  height: 64px;
  width: 64px;
  margin: right 8px;
  
}
.info-educacion li a{
  color:black;
  display:flex;
  text-decoration: none;
}
.info-educacion li p{
  color:black;
  display:flex;
  text-decoration: none;
}

.wrapper{
  margin-top: 10px;
  /*background-image:  url(/images/pared_Skills2.jpg);*/
  
}

.progressbar:not svg,
.progressbar:not(.circle) svg path{
  border-radius: 20px;
}

.progressbar svg path:first-child{
  stroke: rgba(var(--rgb-black), 0.09);
}



.progressbar.border{
  border: 2px solid transparent;
  box-sizing: border-box;
}


.progressbar.border svg path:first-child{
  stroke: transparent;
}


.progressbar.line svg{
  height: 10px;
}


.progressbar.line.border svg{
  height: 8px;
}




.progressbar.circle{
  position: relative;
  margin: 0 auto 30px;
  width: 170px;
  height: 85px;
}


.progressbar.circle .progressbar-text{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  font-size: 40px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: slateblue !important;
  font-weight: bold;
}

.progressbar.circle .progressbar-text:after{
  content: "%";
  display: block;
  font-size: 20px;
  padding-left: 2px;
}


.progressbar.red svg path:last-child{
  stroke: var(--color-red)
  
}



.progressbar.blue svg path:last-child{
  stroke: var(--color-blue)
  
}



.progressbar.green svg path:last-child{
  stroke: var(--color-green)
  
}


.progressbar.yellow svg path:last-child{
  stroke: var(--color-yellow)
  
}

h5{
  background: transparent;
  padding: 5px;
  width: 100%;
  margin: --border-radius auto;
  border-radius: 50px;
  border: 2px solid blue;
  font-size: 12px;
  color: black;
  font-weight: bold;
}

p{
  margin-top: 25px;
}

.menu{
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  background: rgba(0, 0, 0, 0.288);
	display: flex;
	flex-flow:row nowrap;
	/*width: 400px;  */
  height: 80px;
	align-items: center;  
	border-radius:var(--border-radius);
	/*border-bottom: 1px solid rgba(255,255,255,.1);*/
  margin: 10px;
  z-index: 1;
  
    
}
  


.logo {
  background: transparent;
  padding: 2px;
  width: 25%;
  margin: 0 auto;
  font-size: 17px;
  text-align: center;
  flex: 3 1 left;
  margin-top: 0px;
  color:var(--color-menu);
} 
  .logo a{
    color:var(--color-menu);
    text-decoration: none;
  
  }
    .logo a:hover{
      color: var(--color-menu-hover);
    }


.relleno {
  background: transparent;
  padding: 1px;
  width: 7%;
  margin: 0 auto;
  font-size: 17px;
  text-align: center;
  flex: 8 1 auto;
}

.social {
  background: transparent;
  padding: 0px;
  width: 18%;
  margin: 1px;
  font-size: 17px;
  text-align: center;
  margin-top: 0px;
  
  
  
}
.login {
  background: transparent;
  padding: 1px;
  margin: 1px;
  width: 12%;
  border-radius: var(--border-radius) ;
  border: 2px solid var(--color-menu);
  font-size: 17px;
  text-align: center;
  margin-top: 0px;
  
}
    .login a {
      color:var(--color-menu);
      text-decoration: none;

    }
    .login a:hover, .login:hover{
      color: var(--color-menu-hover); 
      
    }
    .login:hover{
      color: var(--color-menu-hover);
      border-radius: var(--border-radius) ;
      border: 2px solid var(--color-menu-hover );
      
    }

.icono-social{
  color: var(--color-menu);
  height: px;
  width: px;
  padding:5px;
}
    .icono-social:hover{
      color: var(--color-menu-hover);
    }

    .proyectos{
  height:150px;
}
    .proyectos p{
      color: black;
    }


.box-skills {
  
  border-radius: 32px;
  background: #c2c2c9;
  box-shadow: 8px 8px 6px rgba(0, 0, 0, 0.63);
  padding: 60px;
  margin: auto 0;
  }

  .master-skills {
    
    
    font-family: sans-serif;
    
    justify-content: center;
    height: 100vh;
    background: #0d0c2d;
  }
  
  .skills {
    display: grid;
    grid-template-columns: repeat(1, 160px);
    grid-gap: 80px;
    background: #0d0c2d;
    box-shadow: -5px -5px 8px rgba(94, 104, 121, 0.288),
                4px 4px 6px rgba(94, 104, 121, 0.288);
    padding: 60px;
    margin: auto 0;
  }
  .certificados{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;

        
  }
  .publicidad{
    width: 500px;
    margin: 20px 0px 20px 0px;
    border:  1px solid black;
    background-color:white;
    border-radius: 0;

  }
  .main{
      display:flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: center;
  
          
    

  }
    
  .skills .box {
    width: 100%;
  }
  
  .skills .box h2 {
    display: box;
    text-align: center;
    color: #fff;
  }
  
  .skills .box .chart {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 40px;
    line-height: 160px;
    height: 160px;
    color: #fff;
  }
  
  .skills .box canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    width: 100%;
  }
  




